*{
    margin: 0px;
    padding: 0px;
    font-family: "playfair Display",system-ui;
}
#logo{
    width: 90px;
    height: 80px;
    margin-left: 30px;
}
#i1:hover,#i2:hover,#i3:hover{
    color: red;
}
